body {
  text-align: center;
  background-color: #ecffdc;
}
h1 {
  color: #088f8f;
}
h2 {
  color: #50c878;
}
h3 {
  color: #4f7942;
}
h4 {
  color: #2aaa8a;
}
h5 {
  color: #8a9a5b;
}
h6 {
  color: #808000;
}
